body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} 
.uk-button-default {
	background: #15b89a;
    color: white;
    border-color: #15b89a;
}
.uk-button-primary {
  background: #8a3f97;
  border-color: #8a3f97;
}
.uk-button-primary:hover,
.uk-button-primary:active,
.uk-button-primary:focus {
    background-color: transparent;
    color: #333;
    border-color: #999;
}
#morePets {
    width: 48.5%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.header-item {
	height: 150px;
}
.image-container {
	overflow: hidden; 
}
.pet-grid h1 {
	color: #8b4098;
	margin-top: 0;    
  max-height: 105px;
  min-height: 53px;
  overflow: hidden;

}
.pet-grid img {
  height: 300px; 
  max-width: none;
}
.pet-grid .pet-el {
	margin-bottom: 20px;
    margin-top: 20px
}
.pet-grid .pet-type {
	text-transform: uppercase;
	font-size: 14px;
    color: #9c9797;
}
#petContent .pet-el {
	margin-bottom: 20px;  
}
.like-pet, .contact-pet {
	font-style: normal;
	margin-left: 20px;
    font-size: 27px;
    cursor: pointer;
    position: relative;
    top: 6px;
}

.like-pet:hover, .contact-pet:hover {
	color: #8b4098;
}
